.forms {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.forms h2 {
  color: var(--gray-medium);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.0125rem;
}

.forms div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1875rem;
  width: stretch;
}

.forms div div{
  display: flex;
  flex-direction: row;
}

.formsContent {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.formsContent h2 {
  color: var(--gray-medium);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.0125rem;
}

.formsContent h3 {
  margin-left: 0.88rem;
  margin-bottom: 0.63rem;
  color: var(--gray-medium);
  font-size: 1rem;
  font-weight: 400;
}

.formsContent span {
  width: 55rem;
  height: 5.3125rem;
  justify-content: center;
  align-items: center;
}

.formsContent span p {
  color: var(--gray-medium);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}

.buttonGroup {
  margin-top: 10rem;
  justify-content: right;
}

.buttonCancel {
  color: var(--gray-darkest);
  background-color: var(--gray-light);
  padding: 0.62rem 1.31rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  box-shadow: 0 0 0 100vmax inset rgb(0 0 0/var(--o,0%));
	transition: .4s;
}

.buttonCancel:hover {
	background: var(--gray-light);
	--o: 20%;
}

.buttonSave {
  color: var(--gray-lightest);
  background-color: var(--green);
  padding: 0.62rem 1.31rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  box-shadow: 0 0 0 100vmax inset rgb(0 0 0/var(--o,0%));
	transition: .4s;
}

.buttonSave:hover {
	background: var(--green);
	--o: 20%;
}