:root {
  --border-radius: 12px;
  --primary-blue: #003A64;
  --primary-orange: #FF4F2A;
  --gray-darkest: #5C5958;
  --white: #F5F5F5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}